body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.gradient {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gradient__1 {
  background: linear-gradient(
      45deg,
      rgba(85, 91, 228, 0.8) 0%,
      rgba(85, 91, 228, 0) 90%
    ),
    linear-gradient(
      to right,
      rgba(56, 159, 230, 0.8) 0%,
      rgba(56, 159, 230, 0) 140%
    ),
    linear-gradient(
      to bottom,
      rgba(59, 190, 236, 0.8) 0%,
      rgba(59, 190, 236, 0) 20%
    );
}

.gradient__2 {
  background: linear-gradient(
      225deg,
      rgba(37, 0, 164, 0.0001) 0%,
      rgba(27, 0, 118, 0.5) 100%
    ),
    linear-gradient(180deg, #9f83ff 0%, #6e58ff 100%);
  opacity: 0;
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.gradient__1.gradient--animating {
  animation: fadein 12s ease-in-out infinite alternate;
}

.gradient__2.gradient--animating {
  animation: fadein 12s ease-in-out 1s infinite alternate-reverse;
}

.button {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  opacity: 1;
  transition: opacity 500ms;
}

.button__hidden {
  opacity: 0;
}

.button svg {
  height: 50px;
  mix-blend-mode: multiply;
  width: 50px;
}

.burst {
  width: 200px;
  height: 200px;
  position: absolute;

  left: 50%;
  top: 50%;

  animation: 2s linear burstUp;
  animation-fill-mode: forwards;
}

@keyframes burstUp {
  0% {
    transform: scale(.2, .2);
    opacity: 0.6;
    animation-timing-function: ease-in;
  }

  1% {
    transform: scale(1, 1) translate(0px, -50px);
    opacity: 1.0;
    animation-timing-function: ease-out;
  }

  100% {
    transform: scale(2.0, 2.0) translate(0px, 200px);
    opacity: 0.0;
  }
}

.burst.type-1 {
  background: radial-gradient(ellipse at center, rgba(220, 47, 2, 100%), rgba(250, 163, 7, 0%), rgba(250, 163, 7, 0%));
}

.burst.type-2 {
  background: radial-gradient(ellipse at center, rgba(27, 67, 50, 100%), rgba(64, 145, 108, 0%), rgba(64, 145, 108, 0%));
}

.burst.type-3 {
  background: radial-gradient(ellipse at center, rgba(0, 41, 107, 100%), rgba(0, 80, 157, 0%), rgba(0, 80, 157, 0%));
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
